.container.cont {
  display: flex;
  padding: 20px 0;
  gap: 30px;
}

.title {
  font-size: 25px;
}

.container.cont h3 {
  font-size: 16px !important;
}

.container.cont p {
  color: #80808f;
}

.container.cont .message,
.container.cont .contact {
  width: 50%;
}

.box-2 .details:last-child p {
  margin-bottom: 0;
}

.box,
.box-2 {
  background-color: #cfeae3;
  padding: 10px 20px;
  border-radius: 20px;
  margin-top: 20px;
}

.box-2 {
  background-color: #fff;
}

input,
textarea {
  display: block;
  width: 90%;
  margin-top: 10px !important;
  border: 1px solid #b5b5c3;
  border-radius: 5px;
  padding: 5px;
  background-color: #fff;
  color: #000;
}

input[type="submit"] {
  background-color: #219d80;
  color: #fff;
}

@media (max-width: 768px) {
  .container.cont {
    flex-wrap: wrap;
  }

  .container.cont .message,
  .container.cont .contact {
    width: 100%;
  }

  input,
  textarea {
    width: 100%;
  }
}
