.box-3 {
  background-color: #fafbfc;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  top: -50px;
  z-index: 1;
}

.info {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.column {
  /* flex: 48%; */
  width: 48%;
}

h1 {
  font-size: 25px !important;
  margin: 10px 0 !important;
  padding: 0 !important;
}

.submit-send {
  background-color: #219d80;
  padding: 5px 10px;
  margin-top: 20px;
  border: none;
  border-radius: 20px;
  width: 48%;
  font-size: 18px !important;
  color: #fff;
}
