.alert-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.alert-box {
  background: #fff;
  border-radius: 15px;
  width: 50%;
  max-width: 90%;
  padding: 30px 50px;
  text-align: center;
  position: relative;
}

.alert-title {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.alert-description {
  font-size: 14px;
  margin-bottom: 20px;
  color: #666;
}


.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.password-field {
  position: relative;
}

.password-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #999;
  font-size: 18px;
}

.remember-me {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  margin-bottom: 20px;
}

.forgot-password {
  text-decoration: none;
  color: #219d80;
}

.btn {
  /* width: 100%; */
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.btn-success {
  background-color: #219d80;
  color: #fff;
}

.create-account {
  /* margin-top: 20px; */
  font-size: 14px;
  color: #666;
  cursor: pointer;
}

.create-account a {
  color: #219d80;
  text-decoration: none;
}

.btn-close {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}
