/* Navbar Styling */
.custom-navbar {
  /* background: rgba(255, 255, 255, 0.8); */
  z-index: 1030; /* لضمان الظهور فوق المحتوى */
  padding: 10px 0;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-nav {
  gap: 20px; /* مسافة بين الروابط */
}

.nav-link {
  font-size: 1rem;
  color: #6c757d; /* اللون الافتراضي للروابط */
  padding: 5px 15px;
  transition: all 0.3s ease-in-out;
}

.nav-link-style:hover,
.active-link {
  background: white; /* خلفية بيضاء للرابط النشط */
  color: black; /* النص باللون الأسود */
  border-radius: 5px;
}

.d-flex {
  gap: 10px;
}

.btn-login {
  width: 110px;
  height: 40px;
  font-weight: bold;
}

.btn-signup {
  width: 110px;
  height: 40px;
  font-weight: bold;
}

.navbar>.container {
    background: rgb(255 255 255 / 30%);
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* ظل خفيف */
    backdrop-filter: blur(3px); /* تأثير تمويه */
    border: 1px solid #fff;
    border-radius: 10px;
}

.create-account {
  background-color: white !important;
  color: #219D80 !important;
}

/* .collapse {
  display: none;
}
*/
/* حالة القائمة عند الضغط (مع الكلاس active) */
/*.collapse.active {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
*/